{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Change Password</title>
  <link rel="icon" href="{% static 'imgs/LJICA.png' %}">

  <!-- Custom fonts for this template-->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template-->
  <link href="{% static 'css/sb-admin.css' %}" rel="stylesheet">

</head>

<body class="bg-dark">

  <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Change Password
        <a class="float-right" data-toggle="tooltip" title="Back To Home Page" data-placement="right" href="/">Home</a>
      </div>
      <div class="card-body">
        <div class="text-center mb-4">
          <h4>Change your password?</h4>
          <p>Enter your Old Password First Then Enter your new Password To Change your password.</p>
        </div>
        <form action="/accounts/change_password" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <div class="form-label-group">
              <input type="password" id="inputEmail1" name="old_pass" data-toggle="tooltip" data-placement="right" title="Enter Old Password" class="form-control" placeholder="Enter email address" required="required" autofocus="autofocus">
              <label for="inputEmail1">Enter Old Password</label>
            </div>
          </div>
          <div class="form-group">
            <div class="form-label-group">
              <input type="password" id="inputEmail2" name="new_pass" class="form-control" placeholder="Enter email address" data-toggle="tooltip" data-placement="right" title="Enter New Password">
              <label for="inputEmail2">Enter New Password</label>
            </div>
          </div>
          <div class="form-group">
              <div class="form-label-group">
                <input type="password" id="inputEmail3" name="new_pass2" class="form-control" placeholder="Enter email address" data-toggle="tooltip" data-placement="right" title="Re-Enter New Password">
                <label for="inputEmail3">Re-Enter New Password</label>
              </div>
            </div>
          <!-- <a class="btn btn-primary btn-block" href="#">Reset Password</a> -->
          <button type="submit" class="btn btn-primary btn-block" data-toggle="tooltip" title="Change Password">Change Password</button>
        </form>
        <div class="text-center">
          <!-- <a class="d-block small mt-3" href="register.html">Register an Account</a>
          <a class="d-block small" href="login.html">Login Page</a> -->
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
  <script>
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();   
    });
  </script>
</body>

</html>
